body{
	margin: 0;
	padding: 0;
}

.header{
	width: 100%;
	height: 70px;
	background-color: #1e1e1e;
	display: grid;
	grid-template-rows: 70px;
	grid-template-columns: 160px 160px;
	justify-content: center;
	border-bottom: 4px solid #ff7800;
}

a{
	text-decoration: none;
	text-align: center;
	color: grey;
}

a:hover{
	color: black;
}

span{
	font-size: 20px;
}

.header-button-1, .header-button-2, .header-button-3, .header-button-4, .header-button-5{
	height: 70px;
	background-color: #1e1e1e;
}

.header-button-1:hover, .header-button-2:hover, .header-button-3:hover, .header-button-4:hover, .header-button-5:hover{
	background: linear-gradient(to top, #1e1e1e, #ff7800);
}

.header-button-1{
	border-right: 2px solid #ff7800;
}

.header-button-2{
	border-left: 2px solid #ff7800;
}

.main{
	display: flex;
	justify-content: center;
	background: url(https://img4.goodfon.ru/original/1920x1080/c/3b/16bit-8bit-pxl-art-grafika-gorod-most-retro-noch.jpg) no-repeat;
	background-position: center;
}

.main-page{
	width: 70%;
	height: 680px;
	background: linear-gradient(to bottom, #1e1e1e, #434242);
	opacity: 1;
}